# API Configuration
VITE_API_BASE_URL=http://localhost:3000/api

# Auth
VITE_API_AUTH=/auth
VITE_API_AUTH_REGISTER=/register
VITE_API_AUTH_LOGIN=/login
VITE_API_AUTH_LOGOUT=/logout
VITE_API_AUTH_ME=/me

# Zones
VITE_API_ZONES=/zones

# Books
VITE_API_BOOKS=/books
VITE_API_BOOKS_PREFILL=/prefill
VITE_API_BOOKS_PUBLISH=/publish
VITE_API_BOOKS_SEARCH=/search
VITE_API_BOOKS_GENRE=/genre
VITE_API_BOOKS_GENRES=/genres