@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$primary: #3730A3;
$primary-light: #eeedf7;
$primary-hover: #312c88;

$secondary: #F59E0B;
$secondary-light: #f7cc83;
$secondary-hover: #dc8f0b;

$bg-light: #F9FAFB;
$bg-normal: #f4f5f7;
$bg-dark: #1c1b32;
$bg-blur: rgb(238, 237, 247, 0.3);
$bg-hero: rgba(56, 48, 163, 0.4);

$text-color: #1E293B;
$success: #10B981;
$error: #e4004c;
$white: #fcfcfc;
$gray: rgba(176, 189, 204, 0.5);
$gray-2: #b5c1cc;
$gray-dark: #777;

$title: "Montserrat", sans-serif;
$text: "Open Sans", sans-serif;